# HTTPS for the public site. Caddy gets and renews the certificates itself.
coastlineprints.ca {
	encode zstd gzip

	# STL uploads can be up to 100 MB.
	request_body {
		max_size 110MB
	}

	reverse_proxy 127.0.0.1:3100
}

# www.coastlineprints.ca sends visitors to the main address.
www.coastlineprints.ca {
	redir https://coastlineprints.ca{uri} permanent
}
